
<h3>Your Recommendations</h3>

  <table>
    <thead>
      <th> Name</th>
      <th> City</th>
      <th> Category</th>
      <th> Rating</th>
      <th> Remove from List</th>
    </thead>
    <tbody>
<tr>
<td> <%= @top_venues.inspect  %>  ></td>
<td> Test </td>
<td> Test </td>
<td> Test </td>
<td> <%= button_to "Remove", {:controller => 'venues', :action => 'create' }, {class: 'btn-addto5' } %> </td>

</tr>
</tbody>
</table>

<div class="options">
<div class="left"><%= button_to "Update List", {:controller => 'venues', :action => 'create' }%></div>
<div class="left"><%= button_to "Add to List", {:controller => 'venues', :action => 'create' }%></div>
<div class="left"><%= button_to "Share List", {:controller => 'venues', :action => 'create' }%></div>
</div>
