<h1> Showing Search Results for: <%= params[:search] %> </h1>

<table border="1">
  <thead>
    <th> Name</th>
    <th> City</th>
    <th> Category</th>
    <th> Rating</th>
    <th> Add to List</th>

  </thead>
  <tbody>
<% @search_result['restaurants'].each do |restaurant| %>
<tr>
  <td> <%= restaurant['restaurant']['name'] %></td>
  <td> <%= restaurant['restaurant']["location"]['city'] %></td>
  <td> <%= restaurant['restaurant']['cuisines'] %></td>
  <td> <%= restaurant['restaurant']['user_rating']['aggregate_rating'] %></td>
  <td>  <%= check_box_tag(:add_to_list) %></td>



</tr>
</tbody>

<% end %>
</table>
<%= link_to 'Continue Searching', search_path, method: :get %>
<%= submit_tag "Save List" %>
<%= submit_tag "View List" %>
